.main {
  background: #f2f2f2;
  .future {
    width: 50.35%;
    height: auto;
    margin-bottom: 3%;
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .clip-svg {
      width: 0;
      height: 0;
    }
    .polygon-clip-trapezoid {
      -webkit-clip-path: polygon(30% 100%, 30% 0%, 60% 0%, 100% 100%);
      clip-path: polygon(30% 100%, 30% 0%, 60% 0%, 100% 100%);
      -webkit-clip-path: url("#polygon-clip-trapezoid");
      clip-path: url("#polygon-clip-trapezoid");
      left: 51%;
      position: absolute;
      z-index: 100;
    }
  }
  .construction{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
}